<%= form_with(model: article, :html => {class: 'form flex flex-col'}) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.text_field :title, class: "appearance-none w-full border-0 border-b block text-3xl leading-8 font-extrabold tracking-tight sm:text-5xl" %>
  </div>

  <div class="field">
    <%= form.label :tag_list, "Tags (separated by commas)" %><br />
    <%= form.text_field :tag_list %>
  </div>

  <div class="my-8">
    <%= form.rich_text_area :content, class: "input-base" %>
  </div>

  <div class="actions">
    <div class="flex space-x-3">
      <%= button_tag 'Return', class: "p-2 mb-6 bg-gray-200 hover:bg-gray-400 text-primary text-sm font-bold rounded transition duration-200" %>
      <%= form.submit nil, class: "p-2 mb-6 bg-green-600 hover:bg-green-700 text-white text-sm font-bold rounded transition duration-200" %>
    </div>
  </div>
<% end %>
