<%= form_with(model: article, :html => {class: 'form flex flex-col text-primary'}) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="text-primary">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-2">
    <%= form.text_field :title, class: "input-base bg-primary text-secondary-x border-tertiary text-2xl leading-8 font-extrabold tracking-tight sm:text-4xl" %>
  </div>

  <div class="my-2">
    <%= form.label :tag_list, "Tags (separated by commas)", class: "text-sm" %>
    <%= form.text_field :tag_list, class: "input-base bg-primary border-tertiary leading-8 tracking-tight", data: {controller: "autocomplete", autocomplete_url_value: tag_completion_path, autocomplete_auto_value: "true", autocomplete_trigger_value: "#"} %>

    <div class="text-xs lowercase pt-1.5">
      <%= render "poly/tags/list", taggable: article %>
    </div>
  </div>

  <div class="my-2 relative" data-controller="text-counter" data-text-counter-limit-value="144" data-text-counter-error-class="text-red-500 border-red-400 font-bold">
    <%= form.label :excerpt, class: "text-sm" %>
    <%= form.text_area :excerpt, class: "input-base bg-primary border-tertiary max-h-24", data: {text_counter_target: "source"}, rows: "3", min: "3", max: "144" %>
    <span class="absolute text-sm border bg-secondary border-tertiary rounded px-2 right-2 bottom-5" data-text-counter-target="output"></span>
  </div>

  <div class="my-8 relative" data-controller="text-counter plyr" data-text-counter-word-mode-value="true" >
    <%= form.rich_text_area :content, class: "input-base bg-primary border-tertiary", data: {controller: "autocomplete", autocomplete_url_value: user_completion_path, autocomplete_trigger_value: "@", text_counter_target: "source", plyr_target: 'editor' } %>
    <span class="absolute text-sm border border-tertiary bg-primary rounded px-2 right-2 bottom-2" data-text-counter-target="output"></span>
  </div>

  <div class="-mx-3 my-2">
    <div class="md:w-full px-3">
      <%= form.label :language, class: "block uppercase tracking-wide text-xs font-bold mb-2" %>
      <div class="relative">
        <%= form.select :language, options_for_select(Poly::Article.languages), { :class => "block appearance-none w-full bg-secondary border border-tertiary py-3 px-4 pr-8 rounded" } %>
      </div>
    </div>
  </div>

  <div class="-mx-3 my-2">
    <div class="md:w-full px-3">
      <%= form.label :status, class: "block uppercase tracking-wide text-xs font-bold mb-2" %>
      <div class="relative">
        <%= form.select :status, [options_for_enum(article, :status)], {required: true}, { :class => "block appearance-none w-full bg-secondary border border-tertiary py-3 px-4 pr-8 rounded" } %>
      </div>
    </div>
  </div>

  <div class="-mx-3 my-2">
    <div class="md:w-full px-3">
      <div class="flex items-center">
        <%= form.check_box :is_private, class: "appearance-none bg-secondary border border-tertiary rounded focus:ring-indigo-500 h-4 w-4 mb-3 p-2" %>
        <%= form.label :is_private, class: "block uppercase tracking-wide text-xs font-bold mb-3 ml-3" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="flex space-x-3">
      <%= button_tag 'Return', class: "p-2 mb-6 bg-secondary hover:bg-tertiary text-primary text-sm font-bold rounded transition duration-200" %>
      <%= form.submit nil, class: "p-2 mb-6 bg-green-600 hover:bg-green-800 text-white text-sm font-bold rounded transition duration-200" %>
    </div>
  </div>
<% end %>

<%= link_to :delete, article_url, method: :delete, class: "p-2 mb-6 bg-red-600 hover:bg-red-800 text-white text-sm font-bold rounded transition duration-200" unless article.new_record? %>
