<section class="relative py-8 overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <%= link_to "Back", article_path %>
        <span class="block text-center text-xs text-blue-600 font-semibold tracking-wide uppercase">
          <%= @article.created_at.to_formatted_s(:long) %> <span> - </span>
          <%= link_to @article.author.name, @article.author, class: "text-indigo-600 underline" %>
          (<%= relative_time_in_words(@article.created_at) %>)
        </span>
      </h1>
    </div>
    <div class="mt-6 prose prose-indigo prose-lg text-primary mx-auto" data-controller="clipboard color">
      <%= render "poly/articles/form", article: @article %>
    </div>

    <div class="pt-16">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative py-16 px-8 bg-gray-100 dark:bg-gray-800 rounded-xl overflow-hidden lg:px-16 border-tertiary">
          <%#= render 'comments/comments' , commentable: @article %>
        </div>
      </div>
    </div>
  </div>
</section>
