<section class="relative py-8 overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8 text-primary">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <div class="mt-8">
          <div class="md:flex md:items-center md:justify-center">
            <div class="md:flex-shrink-0">
              <%= image_tag user_avatar(@article.author), class: "mx-auto h-10 w-10 rounded-full" %>
            </div>
            <div class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center">
              <%= link_to @article.author.name, @article.author, class: "text-base font-medium text-indigo-600" %>

              <svg class="hidden md:block mx-1 h-5 w-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11 0h3L9 20H6l5-20z" />
              </svg>

              <div class="text-base font-medium text-secondary"><%= @article.created_at.to_formatted_s(:short) %></div>

              <svg class="hidden md:block mx-1 h-5 w-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                <path d="M11 0h3L9 20H6l5-20z" />
              </svg>

              <%= link_to "All articles", articles_path, class: "text-base font-medium text-secondary" %>

              <% if can? :manage, @article %>
                <svg class="hidden md:block mx-1 h-5 w-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M11 0h3L9 20H6l5-20z" />
                </svg>

                <%= link_to "Edit", edit_article_path, class: "text-base text-indigo-600" %>

                <svg class="hidden md:block mx-1 h-5 w-5 text-indigo-600" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M11 0h3L9 20H6l5-20z" />
                </svg>

                <% if @article.kept? %>
                <%= button_to :delete, @article, method: :delete, class: "p-0.5 rounded text-base bg-red-500 text-inverted" %>
                <% elsif can? :manage, @article %>
                <p class="text-base">Discarded <%= relative_time_in_words(@article.discarded_at) %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <p class="my-4 block text-3xl font-serif text-center leading-8 font-extrabold tracking-tight sm:text-5xl capitalize">
          <%= @article.title %>
        </p>

        <div class="text-center">
          <%= render "poly/tags/list", taggable: @article %>
        </div>
      </h1>
    </div>

    <article class="mt-6 text-primary prose prose-indigo prose-xl mx-auto" data-controller="clipboard color plyr">
      <%= @article.content %>
    </article>

    <div class="pt-16">
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="relative py-16 px-8 bg-secondary rounded-xl overflow-hidden lg:px-16 border-tertiary">
          <%= render 'poly/comments/comments' , commentable: @article %>
        </div>
      </div>
    </div>
  </div>
</section>
