<main class="text-primary">
  <div>
    <img class="h-32 w-full object-cover lg:h-48 bg-cyan-600" src="https://via.placeholder.com/800?Text=Header+Image" alt="Cover photo for <%= @user.name %>">
  </div>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5 border-b border-tertiary pb-4">
      <div class="flex">
        <%= image_tag user_avatar(@user), class: "h-24 w-24 rounded-full bg-tertiary ring-4 ring-white dark:ring-gray-700 sm:h-32 sm:w-32", alt: @user.name %>
      </div>
      <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
        <div class="sm:hidden md:block mt-6 min-w-0 flex-1">
          <h1 class="text-2xl font-bold truncate">
            <%= @user.name %>
            <span class="inline-block">
              <%= verified_badge if @user.verified? %>
            </span>
          </h1>
        </div>
        <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
          <% if current_user != @user %>
            <%= link_to "#message", class: "inline-flex justify-center px-4 py-2 border border-tertiary shadow-sm text-sm font-medium rounded-md text-primary bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" do %>
              <svg class="-ml-1 mr-2 h-5 w-5 text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
              </svg>
              <span>Message</span>
            <% end %>

            <%= link_to "#follow", class: "inline-flex justify-center px-4 py-2 border border-tertiary shadow-sm text-sm font-medium rounded-md text-primary bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" do %>
              <svg class="-ml-1 mr-2 h-5 w-5 text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
                <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
              </svg>
              <span>Follow</span>
            <% end %>
          <% else %>
            <%= link_to settings_path, class: "inline-flex justify-center px-4 py-2 border border-tertiary shadow-sm text-sm font-medium rounded-md text-primary bg-primary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500" do %>
              <svg class="-ml-1 mr-2 h-5 w-5 text-secondary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z" />
                <path d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z" />
              </svg>
              <span>Settings</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="hidden sm:block md:hidden mt-6 min-w-0 flex-1">
      <h1 class="text-2xl font-bold text-gray-900 truncate">
        <%= @user.name %>
      </h1>
    </div>

    <% if @has_content %>
    <div class="divide-y divide-tertiary">
      <% if @comments.count > 0 %>
      <div id="comments" class="my-8 sm:my-12">
        <p class="font-semibold text-2xl">Latest comments (<%= @user.comments.kept.count %>)</p>
        <%= render @comments %>
      </div>
      <% end %>

      <% if @articles.count > 0 %>
        <div id="articles" class="py-8">
          <div class="flex justify-between">
          <p class="font-semibold text-2xl">Articles (<%= @article_pagination.count %>)</p>
          <%= link_to "All Articles", articles_path, class: "text-indigo-600 underline items-center" %>
          </div>
          <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 my-4">
            <%= render @articles %>
          </div>
          <%== pagy_nav(@article_pagination) if @article_pagination.pages > 1 %>
        </div>
      <% end %>
    </div>
    <% else %>
      <div class="mx-auto text-tertiary font-semibold text-center py-10 sm:py-24">
        <p class="text-2xl">No content</p>
      </div>
    <% end %>
  </div>
</main>
