<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "poly/application" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
