<!DOCTYPE html>
<html data-controller="theme" data-theme-target="theme">
<head>
  <title><%= @page_title.empty? ? "" : "#{@page_title} | " %><%= Rails.application.class %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "poly/application", media: "all", "data-turbolinks-track": "reload" %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body class="bg-primary text-primary">

<%= render 'poly/offline_indicator' %>
<%= render 'poly/notices' %>

<%= yield %>

</body>
</html>
